<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> | Theme <a href="https://github.com/kidchen/hexo-theme-kid" target="_blank">Kid</a> designed based on <a href="https://github.com/hexojs/hexo-theme-landscape" target="_blank">Landscape</a>
    </div>
  </div>
</footer>